<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^public/ - [L]

	RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
	RewriteRule (.+) public/$1 [L]

	RewriteRule (.*) public/index.php?page=$1 [L,QSA]
</IfModule>